<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>실시간 알림</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
<script	src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript">
let stompClient = null;  // STOMP 클라이언트를 저장하기 위한 변수

function connect() {
	let socket = new SockJS('/ws');
	// Stomp는 WebSocket 프로토콜 위에서 사용할 수 있는 메시징 프로토콜인 
	// STOMP(Simple Text Oriented Messaging Protocol)의 자바스크립트 클라이언트 구현체이다. 
	// STOMP는 간단한 텍스트 기반 프로토콜로, WebSocket의 낮은 수준의 API를 추상화하여 
	// 메시징 기능을 쉽게 사용할 수 있도록 도와준다.
	stompClient = Stomp.over(socket);
	
	// STOMP 클라이언트를 사용해 서버에 연결
	stompClient.connect({}, function(frame) {
		console.log('연결됨: ' + frame);
		
		//서버에서 보내는 '/topic/notifications' 경로의 메시지를 구독
		stompClient.subscribe('/topic/notifications',
			// 메시지가 도착하면 호출되는 콜백 함수
			function(noti) {
		        // 도착한 메시지(noti)를 JSON 형식으로 파싱
				let parsedNoti = JSON.parse(noti.body);
				// 파싱된 메시지를 화면에 표시하기 위해 showNotifunc 함수를 호출
				showNotifunc(parsedNoti.type, parsedNoti.message);
			});
	});
}

function sendRequest() {
	let fromUser = document.getElementById('fromUser').value;
	if (fromUser.trim() === "") {// 입력된 값이 비어 있거나 공백만 있는 경우를 확인
		alert("사용자 이름을 입력!"); // 사용자에게 알림
		return;
	}
	// '/app/friend-request' 경로로 'fromUser' 값을 포함하여 메시지를 서버로 전송
	stompClient.send("/app/friend-request", {}, fromUser);
}

function sendComment() {
	let fromUser = document.getElementById('fromUser').value;
	if (fromUser.trim() === "") {
		alert("사용자 이름을 입력~");
		return;
	}
	stompClient.send("/app/comment", {}, fromUser);
}

function sendLike() {
	let fromUser = document.getElementById('fromUser').value;
	if (fromUser.trim() === "") {
		alert("사용자 이름을 입력~"); // 사용자에게 알림
		return;
	}
	stompClient.send("/app/like", {}, fromUser);
}

function showNotifunc(type, message) {
	let notificationList = document.getElementById("notificationList");
	let li = document.createElement("li");

	if (type === "좋아요") {  // 알림의 유형이 '좋아요'인 경우를 확인
		li.innerHTML = `${type}: ${message} ❤️`; // 하트를 함께 추가
	} else {
		// 그 외의 경우에는 단순히 메시지를 'li'에 텍스트로 추가
		li.appendChild(document.createTextNode(`${type}: ${message}`));
	}

	notiShow.appendChild(li); 
}

window.onload = connect;
</script>
</head>
<body>
<h2>실시간 소셜 미디어 알림</h2>
<div>
	<label for="fromUser">사용자 이름:</label> 
	<input type="text" id="fromUser" placeholder="이름 입력">
</div>
<br/>
<div>
	<b>이벤트 발생</b>
	<button onclick="sendRequest()">친구 요청</button>
	<button onclick="sendComment()">댓글 달기</button>
	<button onclick="sendLike()">좋아요 클릭</button>
</div>
<br/>
<div>
	<b>알림:</b>
	<ul id="notiShow"></ul>
</div>
</body>
</html>
